---
import Header from './Header.astro';
import SubHeader from './SubHeader.astro';
import Image from './Image.astro';
import type { ComponentProps } from 'astro/types';
import { cn } from '../utils/tailwind';
interface Props {
  title: string
  subTitle?: string
  img?: ComponentProps<typeof Image>
}
const { title, subTitle, img } = Astro.props
---
<div
  class={cn(
    "p-3 bg-surface-0",
    { 'flex max-sm:flex-col gap-3 max-sm:gap-0': img }
  )}>
  {img ?
  <Fragment>
    <Image src={img.src} alt={img.alt} class="min-w-56 h-56 max-sm:w-full object-cover" />
    <div class="flex-1">
      <Header variant="h3" class="mb-3 max-sm:mb-0">{title}</Header>
      {subTitle && <SubHeader variant="h3">{subTitle}</SubHeader>}
      <div class="mt-7 max-sm:mt-6 text-subtext-1">
        <slot />
      </div>
    </div>
  </Fragment> :
  <Fragment>
    <Header variant="h3" class="mb-3 max-sm:mb-0">{title}</Header>
    {subTitle && <SubHeader variant="h3">{subTitle}</SubHeader>}
    <div class="mt-7 max-sm:mt-6 text-subtext-1">
      <slot />
    </div>
  </Fragment>
  }
</div>
