---
import Section from '../components/Section.astro';
import Card from '../components/Card.astro';
import { Icon } from 'astro-icon/components';
import SubHeader from '../components/SubHeader.astro';
import Anchor from '../components/Anchor.astro';
import Badge from '../components/Badge.astro';
import { groupedTags, tags, tagTypes, type TagType } from '../data/tags';
import { projects } from '../data/sections/projects';
import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url)
const info = projects[lang]
---
<Section title={info.title}>
  <div class="mb-hch-2">
    {Object.entries(groupedTags).map(([key, tags]) => (
    <Fragment>
      <SubHeader variant="h3">{tagTypes[lang][key as TagType]}</SubHeader>
      <div class="flex flex-wrap gap-ch my-hch">
        {Object.entries(tags).map(([_id, t]) => (
        <Badge variant={t.color}>
          <Icon name={t.icon} size={18} class="**:stroke-current w-ch-2" />
          {t.name}
        </Badge>
        ))}
      </div>
    </Fragment>
    ))}
  </div>
  <div class="space-y-hch">
    {info.content.map((p) => (
    <Card title={p.name} subTitle={p.subtitle}
      img={{ src: `/projects/${p.imgUrl}`, alt: 'Project image' }}>
      <div class="flex flex-wrap gap-ch my-hch">
        {p.tags.map((tid) => {
        const t = tags[tid]
        return (
        <Badge variant={t.color}>
          <Icon name={t.icon} size={18} class="**:stroke-current w-ch-2" />
          {t.name}
        </Badge>
        )
        })}
      </div>
      <p class="mt-hch">
        {p.description}
      </p>
      <p class="mt-hch">
        <Anchor href={p.repositoryUrl}>GitHub</Anchor>
      </p>
    </Card>
    ))}
  </div>
</Section>
