---
import Section from '../components/Section.astro';
import Card from '../components/Card.astro';
import ToggleBadge from '../components/ToggleBadge.astro';
import { Icon } from 'astro-icon/components';
import SubHeader from '../components/SubHeader.astro';
import Anchor from '../components/Anchor.astro';
import Badge from '../components/Badge.astro';
import { groupedTags } from '../constants/tags';
import { projects } from '../constants/projects';
---
<Section title="Projects">
  <div>
    {Object.entries(groupedTags).map(([key, tags]) => (
    <Fragment>
      <SubHeader variant="h3">{key}</SubHeader>
      <div class="flex flex-wrap gap-ch my-hch">
        {tags.map((t) => (
        <ToggleBadge id={t.id} variant={t.color}>
          <Icon name={t.icon} size={18} class="**:stroke-current w-ch-2" />
          {t.name}
        </ToggleBadge>
        ))}
      </div>
    </Fragment>
    ))}
  </div>
  <div class="space-y-hch">
    {projects.map((p) => (
    <Card title={p.name} subTitle={p.subtitle}
      img={{ src: p.imgUrl, alt: 'Project image' }}>
      <div class="flex flex-wrap gap-ch">
        <Badge variant='yellow' class="pr-ch-2">
          <Icon name="catppuccin:javascript" size={18} class="**:stroke-current w-5" />
          JavaScript
        </Badge>
        <Badge variant='blue' class="pr-ch-2">
          <Icon name="catppuccin:typescript" size={18} class="**:stroke-current w-5" />
          TypeScript
        </Badge>
        <Badge variant='red' class="pr-ch-2">
          <Icon name="catppuccin:html" size={18} class="**:stroke-current w-5" />
          HTML
        </Badge>
        <Badge variant='lavender'>
          ...
        </Badge>
      </div>
      <p class="mt-hch">
        {p.description}
      </p>
      <p class="mt-hch">
        <Anchor href={p.repositoryUrl}>GitHub</Anchor>
      </p>
    </Card>
    ))}
  </div>
</Section>
